:root {
    --bg-color: #202733;
    --bg-card: #313A48;
    --text-green: #53FFAA;
    --text-gray: #CEE3E9;
}

html {
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: 'Manrope', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.advice-card {
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    width: calc(100% - 1rem);
    align-items: center;
    border-radius: 0.625rem;
    box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.10);
}

p {
    margin: 1.5rem 0;
    color: var(--text-green);
    font-size: clamp(0.6875rem, 0.643rem + 0.188vw, 0.8125rem);
    letter-spacing: 0.210606rem;
    text-transform: uppercase;
}

h1 {
    color: var(--text-gray);
    margin: 0 1.5rem;
    text-align: center;
    font-size: clamp(1.5rem, 1.412rem + 0.376vw, 1.75rem);
}

.divider-container {
    margin-top: 2rem;
}

.re-roll {
    transform: translateY(2rem);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--text-green);
}

.re-roll:hover {
    cursor: pointer;
    box-shadow: 0px 0px 40px 0px #53FFAA;
}

.attribution {
    margin-top: 5rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 555px) {
    .divider-container>img {
        content: url("./images/pattern-divider-desktop.svg");
    }
}

@media (min-width:600px) {
    .advice-card {
        width: 33rem;
    }
}